.connected-container {
  transition: all 0.3s ease-in-out;
}
.connected-container:hover {
  transform: scale(1.1);
  transition: all 1s ease-in-out;
}
.connected-background {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.person {
  position: absolute;
  /* opacity: 0.5; */
  transform: scale(0.31);
}
/* .person path:nth-child(1) {
  fill: green;
} */
.checkmark {
  position: absolute;
  opacity: 0;
  transform: scale(0.31);
}
/* .checkmark circle {
  fill: green;
} */

.person-1 {
  top: -80px;
  left: -80px;
}

.person-2 {
  top: -80px;
  left: 48px;
}
.person-3 {
  top: 29px;
  left: -16px;
}

.checkmark-1 {
  top: 44.5px;
  left: 9.5px;
}
.checkmark-2 {
  top: 44.5px;
  left: 137.5px;
}
.checkmark-3 {
  top: 155px;
  left: 73.5px;
}

.connected-container:hover .person {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.connected-container:hover .person-2 {
  animation-delay: 1s;
}
.connected-container:hover .person-3 {
  animation-delay: 2s;
}

.connected-container:hover .checkmark {
  animation: fadeInZoom 0.5s ease-in-out forwards;
}
.connected-container:hover .checkmark-1 {
  animation-delay: 1s;
}
.connected-container:hover .checkmark-2 {
  animation-delay: 2s;
}
.connected-container:hover .checkmark-3 {
  animation-delay: 3s;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) scale(0.31);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0) scale(0.31);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0) scale(0.31);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0) scale(0.31);
  }
}

@keyframes fadeInZoom {
  0% {
    opacity: 0;
    transform: scale(0.4);
  }
  100% {
    opacity: 1;
    transform: scale(0.31);
  }
}
